{% extends "layout.html" %} {% block content %}
<div class="container">
    <div style="margin-bottom: 10px;">
        <a class="btn btn-success" href="/game/add/">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加账号信息
        </a>
        <div style="float: right;width: 300px;">
            <form method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div><!-- /input-group -->
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->


    <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 部门列表
    </div>
    <div class="panel-body">
        <p>没啥好介绍的</p>
    </div>

    <!-- Table -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>账号名称</th>
                <th>账号密码</th>
                <th>账号状态</th>
                <th>账号价格</th>
                <th>账号封进</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in queryset %}
            <tr>
                <th scope="row">{{obj.id}}</th>
                <td>{{obj.account}}</td>
                <td>{{obj.password}}</td>
                <td>{{obj.price}}</td>
                <td>{{obj.get_status_display}}</td>
                <td>{{obj.get_isban_status_display}}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/game/{{obj.id}}/edit/">编辑</a>
                    <a class="btn btn-danger btn-xs" href="/game/delete/?nid={{obj.id}}">删除</a>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>
<div>
    <ul class="pagination">
        <li>
            <a href="?page=1" aria-label="第一页">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{page__string}}
        <li>
            <a href="?page={{max_page}}" aria-label="最后一页">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>
{% endblock %}